img{
    height: 200px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 1fr;
}

header{
    display: inline-grid;
}
